.vc {

    width: 373px;

    margin: 0 auto;

    position: relative;
}

video {

    display: block;

    margin-bottom: 12px;
}

video,
.content h1 {

    -webkit-column-span: all;

    -moz-column-span: all;

    column-span: all;

    clear: both;
}

.vc {

    width: 373px;

    margin: 0 auto;

    position: relative;
}

#controls {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;

    bottom: 0px;

    opacity: .5;

    -webkit-transition: opacity .7s linear;

    transition: opacity .7s linear;
}

#controls:hover {

    opacity: 1;
}

.hidden {

    display: none;
}

#playPause,
#muteUnmute {

    width: 25px;

    height: 25px;

    float: left;

    text-indent: -9999em;

    border-right: solid 1px #555;
}

#playPause
:hover,
#muteUnmute:hover {

    cursor: pointer;
}

.paused {

    background: #ccc url(controls-sprite.png) no-repeat 0 -75px;
}

.playing {

    background-position: 0 -50px;
}

.timer {

    width: 321px;

    height: 25px;

    background: #ccc;

    float: left;

    text-align: center;

    line-height: 25px;

    overflow: hidden;
}

#muteUnmute {

    overflow: hidden;

    border-right: none;

    border-left: solid 1px #555;
}

.unmuted {

    background: #ccc url(controls-sprite.png) no-repeat 0 -25px;
}

.muted {

    background-position: 0 0;
}

#canvasOverlay {

    position: absolute;

    top: 0px;

    left: 0px;

    background-color: #000;

    margin-bottom: 25px;
}
