.header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 133%;
    align-items: center;
}
.header button {
    margin: 1em;
    background-color: transparent;
    border: solid black;
    height: 3.5em;
    width: 3.5em;
    cursor:pointer;

}

.hidden {
    display: none;
}

#search {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
#entryPage {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVXyfRrFvtx8gymRSxOx98EmE7lfqlQbWs8yDIuDjYed5jOdYN");
    background-repeat: no-repeat;
    background-size: cover;
}
textarea {
    margin-left: 5vw;

    font-family: "Bradley Hand ITC";
    font-size: 2em;
    width: 80vw;
    height: 60vh;
    background-image: url("https://i.pinimg.com/originals/58/d7/37/58d737cbf71dec606949192b1f8a8169.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#display, #editPage {
    height: 100vh;
}

body {
    font-family: "Bradley Hand ITC";
}

#save, #cancel {
    border: none;
    background-color: transparent;

}
#save i, #cancel i {
    font-size: 3em;
    color: blue;
}